# Copy these values from /config/team-50.config on the event VM (cat it in the VM terminal).
INGRESS_URL=
USERNAME=
PASSWORD=
GPU_BEARER_TOKEN=
CANARY_1B_URL=http://166.19.38.112:8004
WANDB_API_KEY=
WANDB_TEAM=
WANDB_PROJECT=
LLM_MODEL=meta-llama/Llama-3.3-70B-Instruct
